<style>
*{
	box-sizing:border-box;
}
table {
    
    width: 100%;
    font-size:17px;
}

th {
    border-bottom: 1px solid #ddd;
    text-align: left;
}
td {
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 640px){
table {
    width:100%;
    font-size:13px;
}


</style>