<style>
.links
a:normal{
	font-weight:none;
}
.links
a:link  {
    color:#EA0000;
}
.links
a:visited{
	color:#560000
}
.links
a:hover{
	color:#000000
}
.links
a:active{
	color:#ff8944
}
#links{
	font-family:"Century Gothic";
}
.botao {  margin: 0 34px 0 0; padding: 0;}
.botao a{
  float: center;
  position: relative;
  background-color: #EA0000;
  height: 35px;
  line-height: 35px;
  padding:0 10px 0px 12px;
  margin-left:16px; bottom: 5px;
  color: black;
  font-weight: bold ;
  font-size:14px;
  font-family: Arial;
  text-decoration: none;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}
.botao a:before {
  border-color: transparent transparent transparent #EA0000;
  border-style: solid;
  border-width:12px 0px 12px 12px; 
  content: "";
  float: right;
  right: -12px;
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.botao a:after {
  background-color: #EA0000;
  content: "";
  float: right;
  right: 0;
  position: absolute;
  top: 10px;
 height: 4px;
  width: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.botao a:hover{
  background-color: #b5b5b5;
  color:black;
}
.botao a:hover:before {
  border-color: transparent transparent transparent #555 ;
}

</style>
