<style>
*{
    box-sizing:border-box;
   }
   
.menu ul li { display: flex;
    width:97%;
}
.menu ul li a:hover {
    display: flex;
    width:97%;
    background-color:black;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}
.menu ul {
   display: flex;
   width: 97%;
   justify-content: space-around;
    background-color:black;
    list-style:none;
    justify-content: row;
    border:2px solid #EA0000;
}
.menu ul a{
    color:#b5b5b5;
}
@media screen and (max-width: 1290px){
    .menu ul {
	width:92%;
        display: flex;
        justify-content: space-around;
         background-color:black;
         list-style:none;
         border:2px solid #EA0000;
    }
    .menu ul li { 
	width:80%;
	display: flex;
        align-items: column;
        border:1px solid #EA0000;
    }
</style>